.error-toast {
  width: auto;
  min-height: 80px;
  height: auto;
  background-color: var(--purple);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 50px;
  left: -200%;
  z-index: 100;
  gap: 20px;
  box-sizing: border-box;
  padding-right: 30px;
  transition: all 0.5s ease-in-out;
  margin-right: 50px;

  @media (max-width: 620px) {
    margin-right: 10px;
    width: calc(100% - 20px);
  }

  @media (max-width: 480px) {
    padding-right: 20px;
    gap: 10px;
    bottom: 10px;
  }

}

.show-error-toast {
  left: 50px;

  @media (max-width: 620px) {
    left: 10px;
  }
}

.error-color {
  background-color: #FF002E;
  width: 30px;
  border-radius: 20px 0 0 20px;
  align-self: stretch;
  flex-shrink: 0;
}

.between-line {
  border: 1px solid var(--white);
  align-self: stretch;
  margin: 20px 10px;
}

.close-icon {
  cursor: pointer;
}
