<section>
  <div class="bg-dark"></div>
  <div class="bg-img"></div>

  <form class="login-container" [formGroup]="newPassword" (ngSubmit)="onSubmit()">
    <h1 class="dm-sans">Reset password</h1>
    <app-typography text="Create a new password for your Videoflix account." size="medium" color="white" [weight]="400"
      [align]="'center'"></app-typography>

    <div class="froms-conatiner">
      <div class="input-container">
        <img src="/img/icons/sign_up/password.svg" alt="Password">
        <input formControlName="password" class="dm-sans" [type]="showPassword ? 'text' : 'password'" name="" placeholder="Password">
        <img *ngIf="showPassword" class="password-icon" src="/img/icons/sign_up/visibility.svg" alt="Visibility" (click)="togglePasswordVisibility('password')">
        <img *ngIf="!showPassword" class="password-icon" src="/img/icons/sign_up/visibility_off.svg" alt="Visibility" (click)="togglePasswordVisibility('password')">
      </div>
      <app-typography *ngIf="newPassword.controls.password.invalid && newPassword.controls.password.touched"
        text="One uppercase letter and one number required." size="small" color="red" [weight]="400"
        [align]="'left'"></app-typography>

        <div class="input-container">
          <img src="/img/icons/sign_up/password.svg" alt="Password">
          <input formControlName="confirmPassword" class="dm-sans" [type]="showConfirmPassword ? 'text' : 'password'" name="" placeholder="Password">
          <img *ngIf="showConfirmPassword" class="password-icon" src="/img/icons/sign_up/visibility.svg" alt="Visibility" (click)="togglePasswordVisibility('confirmPassword')">
          <img *ngIf="!showConfirmPassword" class="password-icon" src="/img/icons/sign_up/visibility_off.svg" alt="Visibility" (click)="togglePasswordVisibility('confirmPassword')">
        </div>
      <app-typography *ngIf="newPassword.errors?.['passwordMismatch'] && newPassword.get('confirmPassword')?.touched"
        text="Passwords do not match." size="small" color="red" [weight]="400" [align]="'left'"></app-typography>

    </div>

    <button class="email-btn" type="submit" [disabled]="newPassword.invalid || isLoading" [ngClass]="{'disabled-btn': newPassword.invalid || isLoading}">
      <app-typography text="Reset my password" size="medium" color="white" [weight]="700"
        [align]="'center'"></app-typography>
    </button>

  </form>

  <app-error-toast [toastMessage]="toastMessage" [showErrorToast]="result" [errorOrCorrect]="errorOrCorrect" (showErrorToastChange)="clrearErrorToast()"></app-error-toast>
</section>
