<section>
  <div class="recommended-movie-container">
    <div class="bg-dark"></div>
    <div class="bg-movie">
      <video #myVideo playsinline class="bg-video" (ended)="onVideoEnded()">
        <source src="https://api.adrianensslin.de/media/trailer/Unbenanntes_Video_vxvfb6e.mp4" type="video/mp4" />
        Dein Browser unterstützt kein HTML5-Video.
      </video>

      <img *ngIf="videoEnded" src="https://api.adrianensslin.de/media/trailer/spring_0brOkmO.png" class="end-image fade-in" alt="Startbild" />
    </div>

    <button (click)="sound('off')" *ngIf="!isMuted" class="mute-btn"><img src="/img/sound/volume_up.svg"
        alt="Sound"></button>
    <button (click)="sound('on')" *ngIf="isMuted" class="mute-btn"><img src="/img/sound/volume_off.svg"
        alt="Sound"></button>

    <div class="movie-info">
      <app-typography text="Spring" size="x-large" color="white" [weight]="700" [align]="'left'"></app-typography>
      <app-typography
        text="Spring is the story of a shepherd girl and her dog, who face ancient spirits in order to continue the cycle of life."
        size="small" color="white" [weight]="400" [align]="'left'"></app-typography>
      <app-typography
        text="This poetic and visually stunning short film was written and directed by Andy Goralczyk, inspired by his childhood in the mountains of Germany."
        size="small" color="white" [weight]="400" [align]="'left'"></app-typography>
      <button (click)="startTrailerMovie()" class="play-btn"><img src="/img/icons/play_arrow.svg" alt="Play"><app-typography text="Play" size="medium"
          color="white" [weight]="700" [align]="'left'"></app-typography></button>
    </div>
  </div>

  <div class="more-movies-container">
    <ng-container *ngFor="let category of movieCategories">
      <app-typography [text]="category" size="x-medium" color="white" [weight]="700" [align]="'left'"></app-typography>

      <div class="movies-container-wrapper" [class.show-arrows]="isMobileDevice"
        (mouseenter)="showMovieArrows(category)" (mouseleave)="leaveMovieArrows()">

        <div class="bg-gradient-left" [class.visible]="canScrollLeft(category)"></div>
        <div class="bg-gradient-right" [class.visible]="canScrollRight(category)"></div>


        <img *ngIf="(isMobileDevice || hoveredCategory === category) && scrollState[category]?.canScrollLeft"
          class="arrow-left" src="/img/icons/arrows/arrow_right.svg" (click)="scroll(category, 'left')" />

        <div #scrollContainer class="movies-container" (scroll)="onScroll($event, category)"
          (mouseenter)="checkScrollability(category, scrollContainer)">
          <ng-container *ngFor="let movie of getMoviesByGenre(category)">
            <div class="movie-card" (click)="openMovie(movie)">
              <img [src]="movie.cover" alt="">
            </div>
          </ng-container>
        </div>

        <img *ngIf="(isMobileDevice || hoveredCategory === category) && scrollState[category]?.canScrollRight"
          class="arrow-right" src="/img/icons/arrows/arrow_right.svg" (click)="scroll(category, 'right')" />

      </div>


    </ng-container>
  </div>

</section>
